*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy', sans-serif;
    /* box-sizing: border-box; */
}
html,body{
    height: 100%;
    width: 100%;
}


#main{
    height: 100%;
    width: 100%;
    /* background-color:aquamarine; */
}
#nav{
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    /* background-color: red; */
    padding: 40px 60px;

}


#nav-part1{
    display: flex;
    justify-content: space-between;
    width: 40%;
}



#nav-part2{
    display: flex;
    justify-content: space-between;
    width: 35%;
}

#nav h3{
    font-size: 25px;
    font-weight: 600;
}

#nav h2{
    font-size: 25px;
    font-weight: 600;
}

#nav h4{
    font-size: 25px;
    font-weight: 600;
}


#content{
    margin-top: 60px;
    padding: 40px 65px;

}



#content h3{
    font-size: 40px;
    font-weight: 600;
}


#content h1{
    margin-top: 40px;
    font-size: 50px;
    line-height: 60px;
    font-weight: 600;
    letter-spacing: -4px;
    
}



#case{
    padding: 40px 65px;
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#case h4{
    font-size: 40px;
    font-weight: 500;


}



#case h5{
    font-size: 26px;
    font-weight: 500;


}

#right{
    display: flex;
    align-items: center;
    gap: 40px;
}


#line{
    height: 2px;
    width: 100px;
    background-color: #000;
} 