*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy-Regular', sans-serif;
    /* box-sizing: border-box; */
}
html,body{
    height: 100%;
    width: 100%;
}


#main{
    height: 100%;
    width: 100%;
    /* background-color:aquamarine; */
}
#nav{
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    /* background-color: red; */
    padding: 40px 60px;

}


#nav-part1{
    display: flex;
    justify-content: space-between;
    width: 40%;
}



#nav-part2{
    display: flex;
    justify-content: space-between;
    width: 35%;
}

#nav h3{
    font-size: 25px;
    font-weight: 600;
}

#nav h2{
    font-size: 25px;
    font-weight: 600;
}

#nav h4{
    font-size: 25px;
    font-weight: 600;
}


#content{
    margin-top: 60px;
    padding: 40px 65px;

}



#content h3{
    font-size: 40px;
    font-weight: 600;
}


#content h1{
    margin-top: 40px;
    font-size: 50px;
    line-height: 60px;
    font-weight: 600;
    letter-spacing: -4px;
    
}



#case{
    padding: 40px 65px;
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#case h4{
    font-size: 40px;
    font-weight: 500;


}



#case h5{
    font-size: 26px;
    font-weight: 600;


}

#right{
    display: flex;
    align-items: center;
    gap: 40px;
}


#line{
    height: 2px;
    width: 160px;
    background-color: #000;
} 


#projects{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 65px;
    gap: 90px;
}

.elem{
    width: 50%;

}


.elem-img{
    height: 720px;
    background-color: red;
    width: 720px;
    border-radius: 30px;
    background-size: cover;
    background-position: center;
    
}



.bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}

.bottom i{
    padding: 15px 30px;
    font-size: 22px;
    border-radius: 50px;
    font-weight: 800;
}

.bottom i:hover{
    background-color: black;
    color:white;
}

.bottom h2{
    font: size 40px; 
    font-weight: 500;
    margin-bottom: 10px;

}




#img1{
    background-image: url(https://plus.unsplash.com/premium_photo-1661877737564-3dfd7282efcb?q=80&w=1200&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    

}

#img2{
    background-image: url(https://plus.unsplash.com/premium_vector-1682310664746-f934119dffd6?q=80&w=1014&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    
}